 #reviews-title{
    color: #cda45e;
    font-size: 3rem !important;
}

.reviews-elements{
    color: #cda45e;
    
} 

.review-button{
    background-color:#cda45e!important;
    font-size: 2rem!important;
    color: black!important; 
    border: none !important;
}


.review-button:hover{
    color: #cda45e!important;
    background-color: black!important;
}
.one-comment{
    border:1px solid #cda45e;
    margin: 5px auto;
    padding:1rem;
    font-size: 1.5rem;
    font-weight: 300 !important;

}


