.main-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5rem;
}

.page-left-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.fav-button-div{
    align-self: right;
}

.restaurant-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 2.2rem;
    margin-right: 0;
    width: 94%;
    align-items: center;
}

.restaurant-title{
    margin-left: 1rem;
    font-family: cursive;
    text-align: end;
    margin-top: -7rem;
    
}

.bigger-heart{
    font-size: 4rem ;
    background-color: #191919 ;
    border: none ;
    color: #cda45e ;
    border-radius: 25%;
    text-align: right;
}

.bigger-heart-clicked{
    background-color: #191919 ;
    border: none ;
    color: #cda45e ;
}

.btn-primary{
    background-color: #191919 !important;
    border: none !important;
    color: #cda45e !important;
    width: 100%;
}
.btn-primary:hover{
    background-color: #000 !important;
    color: #cda45e !important;
    transition: 250ms;
}

.left-side-details{
    margin: 0 3% 0 2rem !important;
}

.card {
    width: 100%;
    align-items: center;
    position: relative !important;
    margin-bottom: .4rem;
    border: 2px solid #000 !important;
    border-style:ridge !important;
    background-color: #cda45e !important;
}

.restaurant-website-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding:0;
}

.restaurant-website{
    color: #000;
    text-decoration: none;
}

.restaurant-rating-card{
    width: 50%;
}

.restaurant-website:hover{
    color: #000;
    text-decoration: none;
    transition: 300ms;
    font-size: 1.15rem;
}

.page-right-side{
    margin-top: 6rem;
    width: 39%;
    color: #cda45e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    align-items: left;
}



/* .form-review-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
} */
.bookCof
{
    font-size: 2rem;
    font-weight: 500;
}
.bookCof2
{
    font-size: 2rem;
   font-weight: 300;
}
.lineIn{
    width: 100%;
    color: #cda45e;
}
.resBackground{
background-color: #000;
padding-left: 2rem;

}
.Resfirst{
    font-size: 15px;
    color: #656363;
    font-weight: 300;
    margin-bottom: 1rem;
}
.ResHeader{
    font-size: 3rem;
    font-weight: 600;
    color: #cda45e;
    margin-bottom: 1rem;
}
.resInput{
    width: 80%;
    height: 3rem;
    min-height: max-content;
    border: #cda45e solid 1px;
    background-color: #000;
    color: #cda45e;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.resInput::-webkit-calendar-picker-indicator {
    filter: invert(1); 
    font-size: 2rem;
    color: #cda45e;
  }
  #custom-button1 {
    width: 97%; 
    height: 3rem;
  }
  #custom-button1:hover {
    background-color: #191919 !important;
    border: #cda45e solid 1px !important;
  }
.deleteRes
{
    width: 100% !important;
    height: 3rem !important;
    
}
.review-div{
    margin-top: 2rem;
}
