
.restaurant-header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: -1.8rem;
}

.restaurant-title{
    margin-left: 30%;
    display: inline;
    font-family: cursive;
    text-align: right;
}

#favourite-button{
    margin-top: 7.3rem;
    height: 2% ;
    width: 5% ;
    align-items: left;
}

#section3{
    padding: 0;
}

.btn-primary{
    background-color: #191919 !important;
    border: none !important;
    color: #cda45e !important;
    width:100%;
}

.bigger-heart{
    font-size: 2rem ;
    background-color: #191919 ;
    border: none ;
    color: #cda45e ;
    width:100%;
    border-radius: 25%;
}

.bigger-heart-clicked{
    background-color: #191919 ;
    border: none ;
    color: #cda45e ;
}

.btn-primary:hover{
    background-color: #000 !important;
    color: #cda45e !important;
    transition: 250ms;
}

.card {
    width: 60%;
    align-items: center;
    margin: 1rem auto;
    border: none !important;
    
}

.card img {
    width:fill ;
    height: fill;
}

.card .card-body {
    padding: 0.1rem;
    background-color: #cda45e;
    width: fill;

}

#section2{
    padding: 0;
}



.restaurant-website-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding:0;
}

.card-text {
    text-align: left;
}

.form-review-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

.restaurant-website{
    color:#000
}

.restaurant-website.restaurant-website:isclicked{
    color: #000;
}


.form-div {
    width: 40%;
    align-items: left;
    text-align: left;
}

form {
    text-align: right;
    font-size: 1.2rem;
}

.form-input {
    height: 2rem;
    width: 5rem;
    flex: 0 0 200px;
    margin-left: 10px;
}

.form-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}

.form-button {
    margin: 0 7.5rem 5rem 0;
    width: 10rem !important ;
}